@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Smoelenboek</h1>
    <p class="lead">Smoelenboek, de manier om elkaar te vinden!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Registreer</h2>
        <p>
          Nog geen account? Vraag je docent naar de gegevens!
    </div>
    @if (Session["Role"] == null)
    {
        <div class="col-md-4">
            <h2>Login</h2>
            <p>Al een account?.</p>
            <p>@Html.ActionLink("Log in", "Login", "Access", null, new { @class = "btn btn-default" })</p>
        </div>
    }
    
  
</div>