@model Smoelenboek.Models.SchoolGroup

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>School Groep</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Bewerken", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Terug", "Index")
</p>
